---
const { image, name, lastname, linkedin, github, description } = Astro.props;
---

<div
    class="lg:h-[38vh] lg:w-[36vw] lg:pb-[1vh] father border-y border-transparent border-b-[#444] hover:border-b-black hover:border-t-[transparent] py-[5vh] w-full h-fit overflow-hidden"
>
    <img
        src={image}
        class="h-[23vh] lg:h-[10vh] lg:w-[10vh] rounded-full w-[23vh] mx-auto"
    />
    <h2
        class="text-[#ccc] uppercase font-bold text-center text-[.9rem] mt-[6vh]"
    >
        {name}
        <br />
        {lastname}
    </h2>
    <p class="text-[.9rem] text-[#08c199] text-tiny text-center">
        {description}
    </p>
    <div
        class="buttons flex justify-center place-items-center gap-x-4 mt-[2vh]"
    >
        <a href={linkedin} target="_blank">
            <button
                class="bg-[#0087cb] rounded-[8px] lg:w-[4vh] lg:h-[4vh] w-[2.8vw] h-[2.8vw]"
                ><i class="text-white fa-brands fa-linkedin-in"></i></button
            >
        </a>
        <a href={github} target="_blank">
            <button
                class="bg-[#181717] rounded-[8px] lg:w-[4vh] lg:h-[4vh] w-[2.8vw] h-[2.8vw]"
                ><i class="text-white fa-brands fa-github"></i></button
            >
        </a>
    </div>
</div>

<style>
    .father {
        transition: 0.5s;
    }
    .father:hover {
        background: linear-gradient(#191919, transparent);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
</style>
