---
import CardBeneficio from "./beneficios/CardBeneficio.astro";
const { content } = Astro.props;
const { title, first_benefit, second_benefit, third_benefit } = content;
---

<article
    id="benefits"
    class="lazy-section beneficios h-fit min-h-screen w-screen py-[5vh] mb-[30vh]"
>
    <h1 class="title-section w-3/5 mx-auto font-bold mb-[5%]">{title}</h1>

    <section class="lg:w-4/5 w-[60%] lg:grid-cols-1 mx-auto grid grid-cols-2 gap-2">
        <CardBeneficio
            className="1"
            iconClass="fa-solid fa-arrow-trend-up"
            title={first_benefit.benefit}
            paragraph={first_benefit.text}
        />
        <CardBeneficio
            className="2"
            iconClass="fa-solid fa-network-wired"
            title={second_benefit.benefit}
            paragraph={second_benefit.text}
        />
        <CardBeneficio
            className="3"
            iconClass="fa-solid fa-arrows-rotate"
            title={third_benefit.benefit}
            paragraph={third_benefit.text}
        />
    </section>
</article>

<style is:global>
        .cardContainer {
        padding: 2vw;
        transition: 0.2s;
        background-color: #161616;
    }
    .beneficios {
        background-color: transparent;
    }
    @media (max-width: 768px) {
        .item1, .item2, .item3 {
            grid-column: span 1 !important;
        }
        .cardContainer {
            padding: 2vh;
        }
    }
    .item1 {
        grid-column: span 2;
    }
    .item2,
    .item3 {
        grid-column: span 1;
    }

</style>
