---
import Logo from "./Logo.astro";
import MenuPop from "./header/MenuPop";
const { content_modal, content } = Astro.props;
const { elements, popover_elements } = content;
---

<nav
    id="nav-bar"
    class="z-50 flex justify-between px-[7vw] py-[3vh] place-items-center fixed top-0 w-screen h-fit"
>
    <Logo />
    <ul class="flex gap-x-10 place-items-center">
        <li
            class="inicio xm:text-[.7rem] 2xl:text-[1.1rem] text-[#eee] lg:hidden text-[.8rem]"
        >
            <a href="#home">{elements[0]}</a>
        </li>
        <li
            class="xm:text-[.7rem] 2xl:text-[1.1rem] paginas lg:hidden text-[.8rem] text-[#eee]"
        >
            <a href="#type-pages">{elements[1]}</a>
        </li>
        <li
            class="xm:text-[.7rem] 2xl:text-[1.1rem] bene lg:hidden text-[.8rem] text-[#eee]"
        >
            <a href="#benefits">{elements[2]}</a>
        </li>
        <!--         <li

            class="xm:text-[.7rem] 2xl:text-[1.1rem] trabajos lg:hidden text-[.8rem] text-[#eee]"
        >
            <a href="#works">{elements[3]}</a>
        </li>
        -->
        <li
            class="xm:text-[.7rem] 2xl:text-[1.1rem] contacto lg:hidden text-[.8rem] text-[#eee]"
        >
            <a href="#contact">{elements[5]}</a>
        </li>
        <li
            class="xm:text-[.7rem] 2xl:text-[1.1rem] contacto lg:hidden text-[.8rem] text-[#eee]"
        >
            <a href="#questions">{elements[6]}</a>
        </li>
        <MenuPop
            client:only="react"
            content={popover_elements}
            content_modal={content_modal}
        />
    </ul>
</nav>

<style>
    h1 {
        font-size: 2rem;
    }

    @keyframes blurnav {
        20% {
            border-color: #222;
        }
        100% {
            background: rgba(18, 18, 18, 0.5);
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            transition: 0.3s;
        }
    }

    nav {
        animation: blurnav linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
        transition: 0.2s;
    }

    ul li {
        cursor: pointer;
    }

    html {
        scroll-behavior: smooth;
    }
</style>
