---
import ecommerce from "../../images/typeprojects/ecommerce.jpg";
import landing from "../../images/typeprojects/landing.jpg";
import personalice from "../../images/typeprojects/personalice.png";
import CardType from "./typeprojects/CardType.astro";
const { content } = Astro.props;
const { title, first_type, second_type, third_type } = content;
---

<article id="type-pages" class="py-[5vw] w-screen h-fit mb-[30vh]">
    <h1 class="w-4/5 mx-auto title-section font-bold mb-[5%]">{title}</h1>

    <section class="w-[80%] mx-auto grid grid-cols-3 gap-10">
        <CardType
            title={first_type.type}
            image={ecommerce.src}
            features={first_type.checklist}
        />
        <CardType
            title={second_type.type}
            image={landing.src}
            features={second_type.checklist}
        />
        <CardType
            title={third_type.type}
            image={personalice.src}
            features={third_type.checklist}
        />
    </section>
</article>
