---
import Work from "./works/Work.astro"
import { works_images } from "data/images";
const { content } = Astro.props;
const { title, text, list_works, button_site } = content;
interface WorkConfig {
    title: string
    date: string
    link: string
};
---

<article class="lg:my-[0] w-screen h-fit my-[20vh]">
    <section class="w-[80%] mx-auto">
        <article>
            <h2 class="lg:text-[2rem] lg:mb-[1vh] lg:text-center text-white font-extrabold text-[3rem] mb-[5vh]">{title}</h2>
            <p class="text-[#aaa]">{text}</p>
        </article>

<!--         <article class="mt-[5vh] w-full h-fit grid grid-cols-1 gap-x-[12px] gap-y-[6px]">
            {
                list_works.map(( work : WorkConfig, index : number ) => (
                    <Work currentWork={work} image={works_images[index]} />
                ))
            }
        </article> -->

        <article class="mt-[5vh] w-full h-fit">
            <Work textButton={button_site} currentWork={list_works[0]} image={works_images[0]} />
        </article>

    </section>
</article>