---
import { Button } from "@nextui-org/react";
const { currentWork, image, textButton } = Astro.props;
const { title, date, link } = currentWork;
---

<div
    class="lg:h-[25vh] w-[100%] mx-auto duration-200 local-father rounded-[8px] border-1.5 border-[#252525] p-[3px]"
>
    <div class="lg:h-full relative">
        <img src={image} class="lg:h-full rounded-[8px] w-full" />
        <div class="image-overlay"></div>

        <div class="absolute-content">
            <p
                class="font-semibold text-[.8rem] text-[#eee] flex justify-between"
            >
                <span>{title}</span>
                <span>{date}</span>
            </p>
            <a href={link} target="_blank">
                <Button
                    client:visible
                    className="hover:text-white flex gap-x-2 font-bold min-h-[45px] rounded-[8px] w-full bg-[#222] text-[#eee] border-1 border-[#333]"
                >
                    <span>{textButton}</span>
                    <span class="rotate-arrow">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </Button>
            </a>
        </div>
    </div>
</div>

<style>
    .relative {
        position: relative;
    }

    .image-overlay::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 1));
        z-index: 1;
    }

    .relative img {
        z-index: 0;
    }

    .absolute-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
    }

    .absolute-content p {
        margin-bottom: 1rem;
        padding: 10px;
        border-radius: 8px;
    }

    .absolute-content a {
        text-align: center;
        border-radius: 8px;
    }

    .rotate-arrow {
        transform: rotate(-45deg);
    }
</style>
