---
import LayoutAlt from "../../layouts/LayoutAlt.astro";
import login_img from "../../../public/images/login/login.jpg";
import { Button } from "@nextui-org/react";
import "@fortawesome/fontawesome-free/css/all.css";
const { content } = Astro.props;
const {
    title_layout,
    title,
    paragraph,
    label_email,
    label_password,
    not_register_text,
    not_register_button,
    button_loggin,
    or,
    button_google,
    button_facebook,
} = content;
---

<LayoutAlt title={`Pulsetech - ${title_layout}`}>
    <section
        class="main-login h-screen w-screen flex justify-between place-items-center"
    >
        <article class="lg:hidden relative left w-[65%] h-screen">
            <img src={login_img.src} class="w-full h-full" />
        </article>

        <article
            class="lg:justify-center lg:leading-[1.3] lg:w-4/5 lg:mx-auto w-[35%] h-screen px-[4.5vw] flex flex-col justify-start pt-[4vw] place-items-center"
        >
            <form
                class="flex flex-col place-items-start justify-start w-full h-[70vh]"
            >
                <h2 class="lg:text-[1.5rem] text-[#eee] text-[2rem]">
                    {title}
                </h2>
                <p class="text-[#aaa] text-tiny">{paragraph}</p>
                <div class="mt-[5%] w-full">
                    <label for="email" class="text-tiny text-[#ccc]"
                        >{label_email}</label
                    >
                    <input
                        id="email"
                        name="email"
                        type="email"
                        class="lg:py-[1.5vw] transition duration-150 shadow-class border-2 border-[#444] w-full mx-auto my-[1vw] lg:my-[1.5vh] bg-[#252525] rounded-[4px] px-[1vw] text-[#ccc] text-tiny py-[.7vw] outline-none"
                        autocomplete="off"
                    />

                    <div class="mb-[4%]">
                        <p class="text-[#ccc] text-[.65rem]">
                            <span>{not_register_text}</span>
                            <span><button class="text-primary">{not_register_button}</button></span>
                        </p>
                    </div>

                    <Button
                        client:visible
                        className="lg:mt-[5%] w-full mx-auto rounded-[4px] bg-semidark text-white font-semibold mt-[1vw]"
                        >{button_loggin}</Button
                    >

                    <div class="my-[5vh] flex justify-between items-center">
                        <hr class="flex-1 border-0 border-t border-[#333]" />
                        <span class="mx-2 text-[#ccc]">{or}</span>
                        <hr class="flex-1 border-0 border-t border-[#333]" />
                    </div>

                    <Button
                        client:visible
                        className="w-full my-[1vw] rounded-[4px] bg-[#222] text-[#ccc] font-semibold "
                    >
                        {button_google}
                        <i class="fa-brands fa-google"></i>
                    </Button>
                    <Button
                        client:visible
                        className="w-full my-[.5vw] lg:my-[2vh] rounded-[4px] bg-[#222] text-[#ccc] font-semibold "
                        >{button_facebook}
                        <i class="fa-brands fa-facebook"></i></Button
                    >
                </div>
            </form>
        </article>
    </section>
</LayoutAlt>

<style>
    .left::before {
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 1)
        );
    }
    .shadow-class:focus {
        border-color: #666;
    }
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .main-login {
        animation: opacity 1s linear both;
    }
</style>
